body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url("./img/Professional-Live-Blackjack.jpg");
    background-size: cover;
    height: 100vh;
    width : 100vw;
}

h1{
    color: goldenrod;
}

p{
    font-size: 1.75vw;
    color: black;
}

#message-el{
    font-size: 2.5vw;
}